.venv/
.vscode/
__pycache__/
*.pyc
*.pyo
*.pyd

raw/
*.zip

dataset/train/
dataset/val/
dataset/test/

.git/
.github/

models/wildguard/results.csv
models/wildguard/labels.jpg
models/wildguard/train_batch0.jpg
models/wildguard/train_batch1.jpg
models/wildguard/train_batch2.jpg